@page "/"
    <!-- nav heading section -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed">

    </nav>

    <!-- body section -->
    <main>
        <section class="main-container">
            <div class="patient-container">

                <div class="letter-bar">
                    

                </div>

                <div class="list-container">
                    <ul class="patient-list">
                    </ul>
                </div>

            </div>

            <div class="split-bar">&nbsp;</div>

            <div class="card-container">
                <div class="patient-card">
                    
                </div>

            </div>


        </section>
    </main>