@page "/"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
    <!-- nav heading section -->
@*<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed">

</nav>*@
<HeaderComponent></HeaderComponent>

<MainComponent></MainComponent>