
* {
    box-sizing: border-box;
}

    *:focus {
        outline: none;
    }

input:focus, select:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

.main-section{
    display:flex;
}

.navbar {
/*    width:100%;
    padding: 1.2rem !important ;*/
    padding:0px;
    margin:1px;
}
.first{
    margin-bottom:1px;
}
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a {
    margin: 0px 5px;
    color: #fff;
}

.nav-top-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.notes {
    position: absolute;
    width: 500px;
    height: 350px;
    background-color: aqua;
    box-shadow: 1px 3px 8px;
    top: 8em;
    left: 12em;
    pointer-events:auto;
}


/* body section */

/* main-container */
.main-container {
    display: flex;
/*    border: 1px black solid;*/
    margin: 0 2px;
    background-color: antiquewhite;
    overflow: hidden;
    width:90%;
}

/* left-pane */
.patient-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    background-color: aqua;
    display: flex;
    width: 20px;
    border: 1px black solid;
}

/* right-pane */
.card-container {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: aquamarine;
    border: 1px black solid;
    width:20px;
}

/* separator */
.split-bar {
    flex-grow: 0;
    flex-shrink: 0;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #b1afaf;
    width: 0.8rem;
    cursor: col-resize;
    margin: 0 0 0 auto;
}

/* alphabets list */

.letter-bar {
    background-color: black;
}



/* patient card container */
.list-container {
    width: 99%;
}

.patient-list {
    width: 100%;
    height: 450px;
    /* overflow: auto; */
}

    /* patient list */
    .patient-list li {
        /* border: 1px solid black; */
        padding: 0 10px;
         background-color: #eee; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        margin: 10px 0px;
    }

        .patient-list li :hover {
            overflow: visible;
            background-color: aqua;
        }
        /* Style the active class, and buttons on mouse-over */
        .active, .patient-list li:hover {
            background-color: #666;
            color: white;
        }

/* patient card */
.patient-card {
    width: 500px;
    height: 350px;
    background-color: #eee;
    box-shadow: 4px 5px 3px grey;
    margin: 3rem 0 2rem 1rem;
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.side-section{
    background-color:red;   
    width:10%;
}
.side-section{
    background-color:aqua;
    position:relative;
}
.side-list button{
    width:120px;
}
.image-container-section {
    display: flex;
    flex-wrap: wrap;
}
.image-preview {
    /*    display: none;*/
        width: 120px;
    height: 180px;
    background-color: #9e9e9e;
    margin: 5px 10px;
}
.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    position: relative;
}
#img-date{
    margin-bottom:0;
}

.img-container {
    height: 140px;
    background-color: aqua;
    margin: 5px 8px;
    position: absolute;
    top: 11em;
    z-index: 996;
}
.preview-image{
/*    display:none;*/
    width:100%;
    height:100%;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
.caret-list {
    display:none;
    padding: 0;
    margin: 0;
   
    background-color: #f4f1f1;
    position: relative;
    left: 6em;
    z-index: 997;
    width: 100px;
    box-shadow: 1px 3px 8px;
}

.render-side {
/*    display:none;*/
    background-color: #fff;
    position: absolute;
    width: 180px;
    border: 1px solid black;
    right: 10px;
    top: 9em;
    box-shadow: 1px 2px 5px;
}
.render-side li{
    padding-left:4px;
}


.done {
    display: block;
}
/* media queries on small screens */
@media only screen and (max-width: 690px) {
    .patient-card {
        width: 80%;
    }
}
    @media only screen and (max-width: 576px) {
        .main-container {
            display: flex;
            flex-direction: column;
        }

        .list-container {
            width: 100%;
        }

        .card-container {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .patient-card {
            width: 70%;
            margin: 2rem 0 1rem 1rem;
        }

        .split-bar {
            margin: 0 0 0 0;
        }
    }
