@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    @*<div class="top-row px-4">*@
    <div>
        <!-- nav heading section -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed first">
            <a href="">Home</a>
            <a href="counter">About</a>
            <a href="FetchData">About</a>
        </nav>
        

    </div>

    <div >
        @Body
    </div>
</div>
