@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4">
        <a href="/" target="_blank">Home</a>
        <a href="counter" target="_blank">About</a>
        <a href="FetchData" target="_blank">About</a>


    </div>

    <div >
        @Body
    </div>
</div>
